<!DOCTYPE html>
<html>
  <head>
    <title>Community</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='https://fullcalendar.io/js/fullcalendar-2.4.0/lib/jquery.min.js'></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet'>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= stylesheet_link_tag "application-print", :media => "print" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>


  </head>


  <body>

  <%# THE DEVISE ALERT THINGS HAVE BEEN DELETED, JUST SO YOU KNOW! %>

    <%= yield %>


</html>
